body{
       background-color: white;
}



.logo{
        height: 150px;
}
.container-fluid{
        background-color:#16222a;
}

 .navbar .navbar-nav{
     margin: 0 auto;
     color: white;
       
        
 }
 .navbar .nav-item a{
        
        color: black;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        
        
 }
.navbar-brand {
        color: white;
        font-size: 2rem;
}


 .navbar-toggler-icon{
      background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 165, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
       border: 1px solid orange;
}



.navbar .nav-item .nav-link{
        color:orange;
              font-family: 'Roboto', sans-serif;
              
} 

 

 .section .container{
        background-color: white;
 }
 
 
.carousel-item{
        height: 650px;
        width: 100%;
        margin-top: 10px;
    }
    
  .img-fluid{
       margin-top: 20px;
  }
 .gap100{
        padding: 50px 0px;
 }
 h1{
        text-align: center;
        justify-content: center;
        color: orange;
        text-decoration: underline 3px black;
        
 }
 .autres{
       margin-top: 10px;
       
 }
 .autres h4 {
       text-align: center;
       color: black;
       text-decoration: underline solid 3px orange;
 }
 .autres p{
       text-align: left;
       color: black;
       font-size: 20px;
       margin-left: 30%;
       margin-top: 25px;
      
 }

 
 
 .services h2 {
       margin-top: 20px; 
       text-align: center;
        font-family: 'montserrat', "sans sherif";
        color: orange;
        cursor: pointer;
        font-weight: 900;
       
      }
      

      
      .services h4{
       text-align: center;
       font-family: 'montserrat', "sans sherif";
       color: orange;
      }
      
      
      .banner h2{
       margin-top: 30px;
       text-align: center;
       font-family: 'montserrat', "sans sherif";
       color: orange;
       
      }
      .banner p{
       text-align: center;
       font-family: 'montserrat', "sans sherif";
       
       color:black;
       
      }
      h2{
       font-weight: 900;
      }
      .card-body{
       background-color: #16222a;
      
      }
      .card{
       position: relative;
      }
      .card-title{
       color: white;
       
      }
      .card-text{
       color: orange;
      }
      .container{
       margin-top: 10px;
      }
      .card-body{
       background-color:#16222a;
      }
      
      .cstm-height-card .card-img-top {
       height: 100px;
       object-fit: cover;
     }
     .container h2{
       text-align: center;
       color: orange;
       text-decoration: underline solid 1px black;
      font-family: 'montserrat', "sans sherif";
      font-weight: 300;
     }